*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    outline: none;
}
.heroContainer{
    height: 100vh;
    width: 100%;
    background-color: rgb(138, 0, 192);
    background-image: url("/Assets/purple-abstract-cube-3d-background.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.navBar{
    height: 10vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;

}
.logoHolder{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: purple;
}
.buttonHolder{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.navButton {
    height: 50%;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    background-color: rgba(238, 236, 236, 0.452);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 12px;
    text-decoration: none;
    color: purple;
}
.Active{
    background-color: purple;
    color: white;
}
.navButton:hover{
    background-color: purple;
    color: white;
    cursor: pointer;
}
.latestDesignButtonHolder{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.latestDesignButtonHolder button{
    height: 50%;
    width: 70%;
    background-color: transparent;
    border: 2px solid purple;
    border-radius: 12px;
    color: purple;
}
.latestDesignButtonHolder button:hover{
    background-color: purple;
    color: white;
    cursor: pointer;
}

.newProducts{
    height: 60vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url("/Assets/purple-abstract-cube-3d-background.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.newProducts h1{
    color: white;
}
.newProducts p{
    text-align: center;
    width: 70%;
    color: white;
}
.newProducts button{
    height: 30px;
    width: 170px;
    margin-top: 10px;
    background-color: purple;
    border: 2px solid purple;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}
::-webkit-scrollbar{
    display: none;
}

.Active{
    background-color: purple;
    color: white;
}
.productHolder{
    width: 100%;
    height:auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 50px;
    padding-bottom: 50px;
}

.productsCard{
    margin-top: 50px;
    width: 300px;
    height: 400px;
    background-color:white;
    border-radius: 12px;


    display: block;
    margin-left: auto;
    margin-right: auto;
}
.productImageHolder{
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.productImageHolder img{
    height: 80%;
}
.productNameHolder{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.productNameHolder p{
    width: 95%;
   

}
.productBuyButtonHolder{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productBuyButtonHolder button{
    height: 30px;
    width: 170px;
    margin-top: 10px;
    background-color: purple;
    border: 2px solid purple;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}





.footer{
    width: 100%;
    height: 50vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
flex-direction: column;
    background-color: purple;
}
.sub{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.subHolder{
    height: 70%;
    width: 50%;
    background-color: purple;
    border: 2px solid rgb(179, 17, 179);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}
.subHolder input{
    height: 100%;
    width: 80%;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
}
.subHolder input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;

}
.subHolder button{
    height: 100%;
    width: 20%;
    background-color: rgb(179, 17, 179);
    border: none;
    color: white;
    cursor: pointer;
}
.linksHolder{
    width: 80%;
    height: 50%;

    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
}
.CompanyLogo{
    height: 100%;
    width: 50%;

}
.CompanyLogo h1{
    margin-top: 10px;
    color: white;
}
.theLinksHolder{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
}
.links{
    height: 100%;
    width: 25%;

    display: flex;
    flex-direction: column;
}
.links a{
    text-decoration: none;
    color: silver;
    margin-top: 10px;
}
.links p{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
.copyRight{
    height: 20%;
    width: 80%;
    color: silver;
    display: flex;
    align-items: center;
}
.aboutBrand button{
        border-style: none;
}



